html{
	height:100%;
}

body{
    margin:0px;
    padding:0px;
    width:100%;
	color:white;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../pic/bg2.jpeg);
	height:100%;
}

h2{
	text-shadow:26px 10px 6px white;
}

.marginTop{
	margin-top:15%;
}

.timer{
	position:fixed;
	top:2%;
	right:5%;

	
	border:1px dashed black;
	padding:4px;
	border-radius:12%/20%;
	
	background:white;
	color:pink;
}

.container .row{
	margin-right:0px;
	margin-left:0px;
}

.card{
	height:max-content;
	border-radius: 3%/5%; 
	box-shadow: 5px 5px 30px lightgray;
	background-image: url(../pic/bg1.jpg);
}

.card-body{
	padding:40px 20px;
}

#contactPage{
	padding:40px auto;
}

#startQuiz,#reStartQuiz,#saveScore,.btn{
	background-color:pink;
	border:1px solid pink;
	color:rgb(90, 88, 88);
	box-shadow: 5px 5px 15px rgb(122, 121, 121);
}

.card-header{
	display:flex;
	justify-content:space-evenly;
	flex:1;
}

li{
	font-size:20px;
	color:#FA8072;
	text-shadow:2px 2px 4px white;
}

.btn-secondary{
	background-color:rgb(133, 127, 127);
	border:1px solid rgb(134, 129, 129);
	color:white;
	box-shadow: 5px 5px 10px rgb(66, 63, 63);
	border-radius:3%/20%;
	margin:5px 3px;
}

.btn-secondary:hover{
	background-color:rgb(100, 95, 95);
	border:1px solid rgb(105, 101, 101);
}

.btn-secondary:focus{
	background-color:rgb(185, 99, 99);
	border:1px solid rgb(105, 101, 101);
}

.btn-secondary:active{
	background-color:rgb(245, 100, 100);
	border:1px solid rgb(105, 101, 101);
}

.form-control-sm{
	width:60%;
	margin:0 auto 10px auto;;
}

.highScoreList{
	display:flex;
	flex-direction: column;
}

.highScoreList li{
	align-self: center;
}

span{
	color:pink;
}

@media screen and (max-width:767px){
	.card-header{
		display:block;
	}
}
